{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Interactif - Christophe Felix</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="shortcut icon" href="{% static 'images/artificial-intelligence-icon-png-14770-Windows.ico' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur mon CV Interactif</h1>
        <p>Découvrez mon parcours et discutez avec un chatbot IA pour en savoir plus sur mes compétences.</p>
        <button class="btn"  id="load-cv-btn">Voir le CV et le Chatbot</button>
        <div class="ai-images">
            <img src="{% static 'images/interview-8270514.svg' %}" alt="Description de l'image" class="ai-image">
            <img src="{% static 'images/photocv.jpg' %}" alt="Description de l'image" class="ai-image">
            <img src="{% static 'images/neural-network-3816319.svg' %}" alt="Description de l'image" class="ai-image">
        </div>

    </div>
	<div id="cv-container" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="cv-frame" src="" frameborder="0"></iframe>
			<div id="loading-indicator" style="display: none;">
				<img src="{% static 'images/Dancing kitty.gif' %}" alt="Chargement...">
			</div>
            <div id="chatbot-container">
                <div id="chat-messages"></div>
                <div id="chat-input">
					{% csrf_token %}
                    <input type="text" id="user-input" placeholder="Posez votre question...">
                    <button onclick="sendMessage()">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>
</body>
</html>